<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="e-Pariksha Automation Suite">

    <!-- Listener for Extent Report -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <!-- Smoke Suite -->
    <test name="Smoke Tests">
        <classes>
            <class name="tests.smoke.LoginDataDrivenSmokeTest"/>
        </classes>
    </test>

    <!-- Sanity Suite -->
    <test name="Sanity Tests">
        <classes>
            <class name="tests.sanity.SanitySuiteTest"/>
        </classes>
    </test>

    <!-- Regression Suite -->
    <test name="Regression Tests">
        <classes>
            <class name="tests.regression.AdminFunctionTest"/>
            <class name="tests.regression.CoordinatorFunctionTest"/>
            <class name="tests.regression.StudentFunctionTest"/>
            <class name="tests.regression.AuthorizationRegressionTest"/>
            <class name="tests.regression.InvalidLoginRegressionTest"/>
        </classes>
    </test>

</suite>
