<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="e-Pariksha Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Smoke Tests">
        <classes>
            <class name="tests.smoke.LoginSmokeTest"/>
        </classes>
    </test>

</suite>
